#menu-5 .customz-brand__name {
  font-size: 16px;
}
#menu-5.customz-navbar--stuck .customz-navbar__section {
  background: #002244;
}
#menu-5 .customz-navbar__hamburger {
  color: #000000;
}
#content5-24 .customz-header .customz-header__text {
  text-align: center;
  color: #fff;
}
#content5-24 .customz-header .customz-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-24 .customz-article {
  color: #fff;
}
#msg-box3-28 .customz-header .customz-header__text {
  text-align: center;
}
#msg-box3-28 .customz-header .customz-header__subtext {
  text-align: center;
}
#testimonials1-29 .customz-section__header {
  color: #ffffff;
}
#menu-5 .customz-brand__name {
  font-size: 16px;
}
#menu-5.customz-navbar--stuck .customz-navbar__section {
  background: #002244;
}
#menu-5 .customz-navbar__hamburger {
  color: #000000;
}
